# Variables de entorno para el backend
NODE_ENV=development
PORT=4000

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=transcendence
DB_USER=postgres
DB_PASSWORD=postgres

# OAuth 42
FORTYTWO_CLIENT_ID=u-s4t2ud-584022340b5d6c127afd555c9f7aa0b0ffd7d95c41f442cc66031e33c65ded5e
FORTYTWO_CLIENT_SECRET=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
FORTYTWO_CALLBACK_URL=http://localhost:4000/api/auth/42/callback
SESSION_SECRET=3ed98f5285413e4af1bc72ca0be08a543ae42a73c7d87114be80f76a9a5ad9d9
FRONTEND_URL=http://localhost:3000