$spacing-none: 0px;
$color-1: #041f29; // fondo plano
$color-2: #043344; // sombra cajas individuales
$color-3: #05465c; // fondo cajas individuales
$color-4: #3f7088; // botones
$color-5: #5f8ea5; // elementos hover
$color-text-write: #eef6ff; // letras blancas
$color-text-black: #1f1f1f; // letras negras
