@use '../variables' as *;

.container-login
{
  background-image: url('../../img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

    Button
    {
      background-color: $color-3;
      color: $color-text;
        font-weight: bold;
        border-radius: 0px;
    }

    Button:hover
    {
      background-color: $color-5;
      color: $color-1;
    }
}

