@use '../variables' as *;

.posts-container{

    .surface-card {
        background: linear-gradient(165deg, rgba($color-3, 0.96) 0%, rgba($color-2, 0.94) 100%) !important;
        box-shadow: 0 12px 22px rgba(0, 0, 0, 0.35), 0 26px 46px rgba($color-1, 0.5), inset 0 -1px 0 rgba($color-1, 0.25);
        color: $color-text-write;

        .p-card { 
        background: rgba($color-1, 0.28);
        box-shadow: 0 8px 18px rgba($color-1, 0.28);

            .p-card-body{
                color: $color-text-write;
                .p-card-content{
                    padding: 0px;
                    .texto{
                        text-align: justify;
                    }
                    .fecha{
                        font-style: italic;
                        font-size: 12px;
                    }
                }
            }
        }

        .p-button{
            background-color: $color-4;
            border-color: $color-4;
            color: $color-text-write;
            font-weight: bold;
            border-radius: 0px;
        }

        .p-button:hover{
            background-color: $color-5;
            border-color: $color-5;
            color: $color-text-black;
        }

        .p-inputtextarea:hover{
            border-color: $color-4;
        }
    }


}